* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inicio estilos body*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;

    display: grid;
    grid-template-areas:
        "header main aside"
        "header main aside"
        "header main aside"
        "footer footer footer";
    grid-template-columns: 200px auto 250px;
}

/*fin estilos body*/

/*inicio estilos main*/
main {
    grid-area: main;
    width: 100%;
    padding: 20px 40px;
}

/*fin estilos main*/

/*inicio estilos aside*/
aside {
    grid-area: aside;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.sidebar p {
    margin: 20px;
}

.card {
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: center; */
   align-items: center;
   border-radius: 10px;
   width: 100%;
   margin: 10px;
   padding: 10px 20px;
   box-shadow: 0px 10px 10px -6px #cfcdcd;
}

/*fin estilos aside*/

/*inicio boton index*/
.boton-arriba {
    margin: 55px;
    padding: 18px;
    background-color: #464949;
    color: #FFFF;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    width: max-content;
}

/*fin boton index*/

/*inicio estilos footer*/
footer {
    grid-area: footer;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.footer-info {
   width: 100%;
}


/*fin estilos footer*/

/*inicio estilos header*/
header {
    grid-area: header;
}

/*fin estilos header*/

/*inicio estilos titulos*/
h1 {
    padding-left: 20;
    margin: 30px 20px;
    text-align: center;
}

h2 {
    padding-inline-start: 20;
    margin: 30px 20px;
    text-align: center;
}

h3 {
    margin: 50px;
    padding: 20;
    text-align: center;
}

/*fin estilos titulos*/

/*inicio estilos logo*/
.logo {
    padding: 10px;
    margin: 20px;
    text-align: center;
    justify-content: left;
}

/*fin esilos logo*/

/*inicio estilos barra navegacion*/
 nav{
    text-decoration: none;
    color: beige;
    background-color: dimgrey;
    padding: 10px 20px;
    margin: 20px;
    text-align: center;
    justify-content:center;
    border-radius: 10px;
    display: flex;
}  

nav { 
   display: flex;
   flex-direction: column;
   width: 100%;
}

a:hover {
    background-color: darksalmon;
}

/*fin estilos barra navegacion*/

.boton-arriba:hover {
    background: darksalmon;
}

/*inicio estilos formulario contacto*/
form {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

input,
textarea {
    outline: none;
    border: 10px;
}

.field {
    border: solid 1px;
    padding: 10px;
    width: 280px;
}

.center-content:hover {
    background-color: darksalmon;
    border: solid 1px
}

/*fin estilos formulario contacto*/


@media (max-width: 991px) {
   body {
       grid-template-areas:
       "header header header"
       "main main main"
       "aside aside aside"
       "footer footer footer";
       grid-template-columns: auto;
   }

   header {
       display: flex;
       justify-content: space-between;
   }

   nav {
       flex-direction: row;
   }

   footer{
       flex-direction: column;
   }

   .boton-arriba {
       position: sticky;
   }
 }