footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #8fbc8fdb;
    padding: 25px 25px 5px 25px;
    margin-top: 25px;

    .footer-info {
        width: 100%;
    }
    p {
        margin-bottom: 0.4rem;
    }

    @media (max-width: 991px) {
        flex-direction: column;
        font-size: 12px;
        
    }
}