
body {
    font-family: 'Poppins', sans-serif ;
    background-color: white;
    

    display: grid;
    grid-template-areas:
        "header main aside"
        "header main aside"
        "header main aside"
        "footer footer footer";
    grid-template-columns: 200px auto 250px;

    
}
.image-background{
    background-image: url(../../../imagenes/Los-Angeles-CAportada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 991px) {
    body {
        grid-template-areas:
        "header header header"
        "main main main"
        "aside aside aside"
        "footer footer footer";
        grid-template-columns: auto;
    }
}