@import "../abstract/variables";

@mixin tituloCentrado {
    text-align: center;
    margin: 30px 20px;
}

main {
    grid-area: main;
    width: 100%;
    padding: 20px 40px;
    margin-top: 20px;






    h1 {
        @include tituloCentrado;
        padding-left: 20;
    }

    h2 {
        @include tituloCentrado;
        padding-inline-start: 20;
    }

    h3 {
        @include tituloCentrado;
        padding: 20;
    }

    .card {
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 10px 10px -6px #cfcdcd;

        p {
            margin-top: 23px;
            margin-bottom: 0;
        }
    }

}


.blur {
    backdrop-filter: $blur;
    background-color: $blur-color;
    border-radius: 10px;
}