form {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;

    input,
    textarea {
        outline: none;
        border: 10px;
    }

    .field {
        border: solid 1px;
        padding: 10px;
        width: 280px;
    }

    .center-content {
        padding: 10px;
        
        &:hover {
            background-color: darksalmon;
            border: solid 1px
        }
    }
}