form {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    background-color:darkseagreen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    input,
    textarea {
        outline: none;
        border: 10px;

    

    .field {
        padding: 10px;
        width: 100%;
        border-radius: 4px;
        background-color: aliceblue;
    }


    .button{
        border-radius: 8px;
        background: green;
        color: white;
        align-self: center;
        padding: 10px;
        &:hover {
            background-color: #cdd500;
            border: solid 1px
        }
    }
}